<form [formGroup]="form">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="names">Nombres</label>
            <input type="text" formControlName="names" pInputText id="names" [(ngModel)]="message.names"
                [readOnly]="true" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="surnames">Apellidos</label>
            <input type="text" formControlName="surnames" pInputText id="surnames" [(ngModel)]="message.surnames"
                [readOnly]="true" />
        </div>
    </div>

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="address">Dirección</label>
            <input type="text" formControlName="address" pInputText id="address" [(ngModel)]="message.address"
                [readOnly]="true" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="cellphone">Teléfono</label>
            <input type="text" formControlName="cellphone" pInputText id="cellphone" [(ngModel)]="message.cellphone"
                [readOnly]="true" />
        </div>
    </div>

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="email">Correo</label>
            <input type="text" formControlName="email" pInputText id="email" [(ngModel)]="message.email"
                [readOnly]="true" />
        </div>
        <div class="field col-12 md:col-6">
            <label for="headquarters">Sede</label>
            <input type="text" [value]="message.headquarters?.name || ''" pInputText id="headquarters"
                [readOnly]="true" />
        </div>
    </div>
    <div class="field">
        <label for="comments">Comentario</label>
        <textarea rows="5" cols="30" type="text" formControlName="comments" pInputText id="comments"
            [(ngModel)]="message.comments" required [readOnly]="true"></textarea>
    </div>
</form>