<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <h4>Usuarios</h4>
      <p-table #dt [value]="users" responsiveLayout="scroll" [rows]="10" [globalFilterFields]="[
          'names',
          'surnames',
          'user_name',
          'email',
          'role.name'
        ]" [paginator]="true" [rowsPerPageOptions]="[10, 20, 30]" styleClass="p-datatable-sm"
        [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} entradas"
        selectionMode="multiple" [rowHover]="true" dataKey="id" [loading]="loading">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <button *ngIf="canCreate" pButton pRipple label="Nuevo" icon="pi pi-plus"
              class="p-button-primary w-full sm:w-auto" (click)="openNew()"></button>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Buscar..."
                class="w-full" />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="names">
              Nombre <p-sortIcon field="names"></p-sortIcon>
            </th>
            <th pSortableColumn="surnames">
              Apellidos <p-sortIcon field="surnames"></p-sortIcon>
            </th>
            <th pSortableColumn="user_name">
              Nombre de usuario <p-sortIcon field="user_name"></p-sortIcon>
            </th>
            <th pSortableColumn="role.name">
              Rol <p-sortIcon field="role.name"></p-sortIcon>
            </th>
            <th pSortableColumn="email">
              Correo <p-sortIcon field="email"></p-sortIcon>
            </th>

            <th pSortableColumn="is_active">
              Activo <p-sortIcon field="is_active"></p-sortIcon>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-user>
          <tr>
            <td style="width: 15%">
              <span class="p-column-title">Nombre</span>
              {{ user.names }}
            </td>
            <td style="width: 15%">
              <span class="p-column-title">Apellidos</span>
              {{ user.surnames }}
            </td>
            <td style="width: 15%">
              <span class="p-column-title">Nombre de Usuario</span>
              {{ user.user_name }}
            </td>
            <td style="width: 15%">
              <span class="p-column-title">Rol</span>
              {{ user.role.name }}
            </td>
            <td style="width: 15%">
              <span class="p-column-title">Correo</span>
              {{ user.email }}
            </td>
            <td style="width: 10%">
              <i class="pi" [ngClass]="{
                  'true-icon pi-check-circle text-green-600': user.active,
                  'false-icon pi-times-circle text-pink-500': !user.active
                }"></i>
            </td>
            <td>
              <div class="flex">
                <button *ngIf="canSee" pButton pRipple icon="pi pi-eye" class="p-button-rounded p-button-secondary mr-2"
                  (click)="seeItem(user)"></button>
                <button *ngIf="canEdit" pButton pRipple icon="pi pi-pencil"
                  class="p-button-rounded p-button-primary mr-2" (click)="editItem(user)"></button>
                <button *ngIf="canDelete" pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger"
                  (click)="deleteItem(user)"></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
    <p-dialog [(visible)]="userDialog" [style]="{ width: '50%' }" header="Usuarios" [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" class="p-fluid">
      <app-modal-user [submitted]="submitted" [user]="user" [roles]="roles" [headquarters]="headquarters"
        [isDetail]="isDetail" [isEdit]="isEdit"></app-modal-user>
      <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text mr-2"
          (click)="hideDialog()"></button>
        <button pButton pRipple label="Guardar" [disabled]="isDetail" icon="pi pi-check" class="p-button-primary mr-2"
          (click)="onSubmit(user)"></button>
      </ng-template>
    </p-dialog>
    <p-dialog [(visible)]="deleteUserDialog" header="Confirmar" [modal]="true"
      [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" [style]="{ width: '450px' }">
      <div class="flex align-items-center justify-content-center">
        <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
        <span *ngIf="user">¿Está seguro de eliminar a <b>{{ user.names }}</b>?</span>
      </div>
      <ng-template pTemplate="footer">
        <button pButton pRipple icon="pi pi-times" class="p-button-text mr-2" label="No"
          (click)="deleteUserDialog = false"></button>
        <button pButton pRipple icon="pi pi-check" class="p-button-primary mr-2" label="Sí"
          (click)="confirmDelete()"></button>
      </ng-template>
    </p-dialog>
  </div>
</div>