<div class="grid">
  <div class="col-12">
    <div class="card px-6 py-6">
      <ng-content select="[table-header]"></ng-content>
      <p-table
        #dt
        [value]="data"
        responsiveLayout="scroll"
        [rows]="rows"
        [paginator]="paginator"
        [rowsPerPageOptions]="rowsPerPageOptions"
        [showCurrentPageReport]="true"
        [globalFilterFields]="globalFilterFields"
        [currentPageReportTemplate]="currentPageReportTemplate"
        selectionMode="multiple"
        [rowHover]="true"
        dataKey="id"
        [loading]="loading"
      >
        <ng-template pTemplate="caption">
          <div
            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center"
          >
            <button
              [disabled]="!canCreate"
              pButton
              pRipple
              label="Nuevo"
              icon="pi pi-plus"
              class="p-button-success w-full sm:w-auto"
              (click)="onNew.emit()"
            ></button>
            <span class="block mt-2 md:mt-0 p-input-icon-left">
              <i class="pi pi-search"></i>
              <input
                pInputText
                type="text"
                (input)="onGlobalFilter(dt, $event)"
                placeholder="Buscar..."
                class="w-full"
              />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field">
              {{ col.header }} <p-sortIcon [field]="col.field"></p-sortIcon>
            </th>
            <th>Acciones</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData>
          <tr>
            <td *ngFor="let col of columns" [style]="col.style">
              <span class="p-column-title">{{ col.header }}</span>
              <ng-container *ngIf="!col.icon">{{
                rowData[col.field]
              }}</ng-container>
              <ng-container *ngIf="col.icon">
                <i
                  class="pi"
                  [ngClass]="{
                    'pi-check-circle text-green-600': rowData[col.field],
                    'pi-times-circle text-pink-500': !rowData[col.field]
                  }"
                ></i>
              </ng-container>
            </td>
            <td>
              <div class="flex">
                <button
                  pButton
                  pRipple
                  icon="pi pi-eye"
                  [disabled]="!canSee"
                  class="p-button-rounded p-button-secondary mr-2"
                  (click)="onView.emit(rowData)"
                ></button>
                <button
                  [disabled]="!canEdit"
                  pButton
                  pRipple
                  icon="pi pi-pencil"
                  class="p-button-rounded p-button-success mr-2"
                  (click)="onEdit.emit(rowData)"
                ></button>
                <button
                  [disabled]="!canDelete"
                  pButton
                  pRipple
                  icon="pi pi-trash"
                  class="p-button-rounded p-button-warning"
                  (click)="onDelete.emit(rowData)"
                ></button>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
