<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
  <div class="flex flex-column align-items-center justify-content-center">
    <div style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      ">
      <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
        style="border-radius: 53px">
        <div class="text-center mb-3">
          <img src="assets/layout/images/logoevaluando.png" alt="Image" height="160" />
          <div class="text-900 text-3xl font-medium mb-5">
            Crea una Nueva Contraseña
          </div>
        </div>
        <form [formGroup]="form" (submit)="onSubmit()">
          <div>
            <label class="block text-900 text-xl font-medium mb-2" for="phone">Nueva Contraseña</label>
            <p-password formControlName="newPassword" weakLabel="Débil" mediumLabel="Segura" strongLabel="Muy Segura"
              id="newPassword" promptLabel="Ingresa tu contraseña" [toggleMask]="true" styleClass="mb-3" [ngClass]="{
                'ng-invalid ng-dirty':
                  form.hasError('passwordsNotMatch') &&
                  form.get('newPassword').dirty &&
                  form.get('passwordConfirmation').dirty
              }" inputStyleClass="w-30rem"></p-password>

            <label class="block text-900 text-xl font-medium mb-2" for="phone">Repita Nueva Contraseña</label>
            <p-password [feedback]="false" formControlName="passwordConfirmation" id="passwordConfirmation"
              [toggleMask]="true" styleClass="mb-3" [ngClass]="{
                'ng-invalid ng-dirty':
                  form.hasError('passwordsNotMatch') &&
                  form.get('newPassword').dirty &&
                  form.get('passwordConfirmation').dirty
              }" inputStyleClass="w-30rem"></p-password>

            <div class="field" *ngIf="
                form.hasError('passwordsNotMatch') &&
                (form.get('newPassword').dirty ||
                  form.get('passwordConfirmation').dirty)
              ">
              <small class="ng-dirty p-error ng-invalid">Las contraseñas no coinciden.</small>
            </div>
            <div>
              <button pButton pRipple type="submit" class="w-full p-3 text-xl" [loading]="loading"
                label="Validar Contraseña" [disabled]="form.invalid"></button>
            </div>
          </div>
        </form>
      </div>
      <button pButton pRipple icon="pi pi-arrow-left" label="Regresar" class="p-button-text m-3"
        [routerLink]="['/', 'auth', 'login']"></button>
    </div>
  </div>
</div>