<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      ">
            <div class="w-full surface-card py-2 px-2 sm:px-8 flex flex-column align-items-center"
                style="border-radius: 53px">
                <div class="text-center">
                    <img src="assets/layout/images/logoevaluando.png" alt="Image" height="160" />
                </div>
                <div class="">
                    <div class="col-12">
                        <div [routerLink]="['/auth/login']"
                            class="p-3 flex border-200  shadow-2 cursor-pointer border-2 hover:border-primary transition-duration-300 transition-all"
                            style="border-radius: 10px">
                            <div class="p-3  h-full" style="border-radius: 8px">
                                <div class="flex align-items-center justify-content-center mb-1"
                                    style="width: 3.5rem; height: 3.5rem; border-radius: 10px">
                                    <img src="assets/layout/images/logoevaluando.png" alt="Image" height="100" />

                                </div>
                                <h5 class="mb-2 text-900">Acceder como empleado</h5>
                                <span class="text-600">Haga click para acceder al menú de empleado</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div [routerLink]="['/auth/guest']"
                            class="p-3 flex border-200  shadow-2 cursor-pointer border-2 hover:border-primary transition-duration-300 transition-all"
                            style="border-radius: 10px">
                            <div class="p-3  h-full" style="border-radius: 8px">
                                <div class="flex align-items-center justify-content-center bg-yellow-200 mb-3"
                                    style="width: 3.5rem; height: 3.5rem; border-radius: 10px ">
                                    <i class="pi pi-fw pi-users text-2xl text-yellow-700"></i>
                                </div>
                                <h5 class="mb-2 text-900">Resultados de laboratorio</h5>
                                <span class="text-600">Haga click para descargar resultados de laboratorio.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>