<form [formGroup]="form">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="document_types_id">Tipo documento</label>
            <p-dropdown [filter]="true" inputId="document_types_id" optionLabel="name"
                [formControl]="form.controls['document_types_id']" optionValue="id" required [showClear]="false"
                [readonly]="isDetail" [options]="documentTypes" appendTo="body">
            </p-dropdown>
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.document_types_id">Tipo documento es
                obligatorio</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="document">Documento</label>
            <input type="text" formControlName="document" pInputText id="document" [(ngModel)]="patient.document"
                required [readOnly]="isDetail" maxlength="20"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.document }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.document">Documento es
                obligatorio.</small>
        </div>
    </div>

    <div class="field">
        <label for="names">Nombres</label>
        <input type="text" formControlName="names" pInputText id="names" [(ngModel)]="patient.names" required
            [readOnly]="isDetail" maxlength="255" [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.names }" />
        <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.names">Nombres son obligatorio.</small>
    </div>

    <div class="formgrid grid">
        <div class="field col-12 md:col-4">
            <label for="birth_date">Fecha de nacimiento</label>
            <p-calendar [showIcon]="!isDetail" formControlName="birth_date" dateFormat="dd/mm/yy" [showOnFocus]="false"
                [readonlyInput]="true" id="birth_date" [(ngModel)]="patient.birth_date" required appendTo="body"
                [ngClass]="{
          'ng-invalid ng-dirty': submitted && !patient.birth_date
        }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.birth_date">Fecha de nacimiento es
                obligatoria.</small>
        </div>

        <div class="field col-12 md:col-4">
            <label for="gender">Género</label>
            <input type="text" formControlName="gender" pInputText id="gender" [(ngModel)]="patient.gender" required
                [readOnly]="isDetail" maxlength="20"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.gender }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.gender">Género es
                obligatorio.</small>
        </div>

        <div class="field col-12 md:col-4">
            <label for="diet_type">Tipo de dieta</label>
            <input type="text" formControlName="diet_type" pInputText id="diet_type" [(ngModel)]="patient.diet_type"
                required [readOnly]="isDetail" maxlength="255"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.diet_type }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.diet_type">Tipo de dieta es
                obligatorio.</small>
        </div>
    </div>
    <div class="formgrid grid">      
        <div class="field col-12 md:col-4">
            <label for="site">Sede</label>
            <input type="text" formControlName="site" pInputText id="site"
                [(ngModel)]="patient.site" required [readOnly]="isDetail" maxlength="10" [ngClass]="{
          'ng-invalid ng-dirty': submitted && !patient.site
        }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.site">Sede es
                obligatorio.</small>
        </div>
        <div class="field col-12 md:col-4">
            <label for="room">Habitación</label>
            <input type="text" formControlName="room" pInputText id="room" [(ngModel)]="patient.room" required
                [readOnly]="isDetail" maxlength="10"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.room }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.room">Habitación es
                obligatorio.</small>
        </div>
        <div class="field col-12 md:col-4">
            <label for="floor">Piso</label>
            <input type="text" formControlName="floor" pInputText id="floor" [(ngModel)]="patient.floor" required
                [readOnly]="isDetail" maxlength="10"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.floor }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.floor">Piso es obligatorio.</small>
        </div>
    </div>

    <div class="formgrid grid">
    <div class="field col-12 md:col-4">
        <label for="diagnosis_code">Cod Diagnóstico</label>
        <input type="text" formControlName="diagnosis_code" pInputText id="diagnosis_code"
            [(ngModel)]="patient.diagnosis_code" required [readOnly]="isDetail" maxlength="10" [ngClass]="{
      'ng-invalid ng-dirty': submitted && !patient.diagnosis_code
    }" />
        <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.diagnosis_code">Cod Diagnóstico es
            obligatorio.</small>
    </div>

    <div class="field col-12 md:col-8">
        <label for="diagnosis">Diagnóstico</label>
        <textarea type="text" formControlName="diagnosis" pInputText id="diagnosis"
            [(ngModel)]="patient.diagnosis" required [readOnly]="isDetail" maxlength="255"
            [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.diagnosis }"></textarea>
        <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.diagnosis">Diagnóstico es
            obligatorio.</small>
    </div>
</div>

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="allergies">Alergias</label>
            <textarea type="text" formControlName="allergies" pInputText id="allergies"
                [(ngModel)]="patient.allergies" required [readOnly]="isDetail" maxlength="255"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.allergies }"></textarea>
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.allergies">Alergias son
                obligatorio.</small>
        </div>

        <div class="field col-12 md:col-6">
            <label for="background">Antecedentes</label>
            <textarea type="text" formControlName="background" pInputText id="background"
                [(ngModel)]="patient.background" required [readOnly]="isDetail" maxlength="255"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.background }"></textarea>
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.background">Antecedentes son
                obligatorio.</small>
        </div>
    </div>

    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="observations">Obervaciones</label>
            <textarea formControlName="observations" pInputText id="observations" [(ngModel)]="patient.observations"
                required [readOnly]="isDetail" maxlength="255" [ngClass]="{
          'ng-invalid ng-dirty': submitted && !patient.observations
        }"></textarea>
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.observations">Obervaciones son
                obligatorio.</small>
        </div>

        <div class="field col-12 md:col-6">
            <label for="preferences">Preferencias</label>
            <textarea type="text" formControlName="preferences" pInputText
                id="preferences" [(ngModel)]="patient.preferences" required [readOnly]="isDetail" maxlength="255"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !patient.preferences }"></textarea>
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !patient.preferences">Preferencias son
                obligatorio.</small>
        </div>
    </div>
</form>