<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div
    class="login-container surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="login-wrapper flex flex-column align-items-center justify-content-center">
        <div class="login-card-container">
            <div class="login-card w-full surface-card p-2 sm:px-8 flex flex-column align-items-center">
                <div class="text-center mb-3">
                    <img src="assets/layout/images/logo_evaluando_2.png" alt="Image" height="160" />
                    <div class="login-title text-900 text-3xl font-medium mb-1">Empleado</div>
                </div>
                <form [formGroup]="form" (submit)="onSubmit()">
                    <div class="form-group px-0 mx-2">
                        <label for="userName" class="login-label block text-900 text-xl font-medium mb-2">Nombre de
                            Usuario</label>
                        <input formControlName="userName" id="userName" type="text"
                            placeholder="Ingrese Nombre de Usuario" pInputText
                            class="w-full md:w-30rem mb-5 login-input" />
                        <label for="password"
                            class="login-label block text-900 font-medium text-xl mb-2">Contraseña</label>
                        <p-password [feedback]="false" formControlName="password" id="password"
                            placeholder="Ingrese su contraseña" [toggleMask]="true" styleClass="mb-5 login-password"
                            inputStyleClass="w-30rem"></p-password>
                        <div class="login-options flex align-items-center justify-content-between mb-2 gap-5">
                        </div>
                        <button pButton pRipple label="Iniciar Sesión" type="submit"
                            class="login-button w-full p-3 text-xl" [loading]="loading"
                            [disabled]="form.invalid"></button>
                    </div>
                </form>
                <button pButton pRipple icon="pi pi-arrow-left" label="Regresar" class="back-button p-button-text m-3"
                    [routerLink]="['/']"></button>
            </div>
        </div>
    </div>
</div>