<!-- Footer Start -->
<div class="container-fluid bg-dark text-light mt-5 py-5">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-light text-uppercase border-5 border-secondary mb-4">
                    Sede Yopal
                </h4>
                <p class="mb-4">
                    No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et
                    dolor sed dolor
                </p>
                <p class="mb-2">
                    <a href="https://maps.app.goo.gl/uZqnMXrTx9YR2wtF8" Target="_blank"
                        class="flex items-center mx-2"><i class="fa fa-map-marker mx-2"></i>
                        <span>Calle 15 No.18 - 42</span>
                    </a>
                </p>
                <p class="mb-2">
                    <a href="mailto:ips.evaluando.yopal@gmail.com" class="flex items-center mx-2" Target="_blank"><i
                        class="fas fa-envelope mx-2"></i><span>ips.evaluando.yopal&#64;gmail.com</span></a>
                </p>
                <p class="mb-0">
                    <a href="tel:3144132940" Target="_blank" class="flex items-center mx-2"><i
                        class="fas fa-phone mx-2"></i>
                    <span>3144132940</span>
                </a>
                </p>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-light text-uppercase border-5 border-secondary mb-4">
                    Sede Los Patios
                </h4>
                <p class="mb-4">
                    No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et
                    dolor sed dolor
                </p>
                <p class="mb-2">
                    <a href="https://maps.app.goo.gl/uZqnMXrTx9YR2wtF8" Target="_blank"
                        class="flex items-center mx-2"><i class="fa fa-map-marker mx-2"></i>
                        <span>Calle 15 No.18 - 42</span>
                    </a>
                </p>
                <p class="mb-2">
                    <a href="mailto:ips.evaluando.yopal@gmail.com" class="flex items-center mx-2" Target="_blank"><i
                        class="fas fa-envelope mx-2"></i><span>ips.evaluando.yopal&#64;gmail.com</span></a>
                </p>
                <p class="mb-0">
                    <a href="tel:3144132940" Target="_blank" class="flex items-center mx-2"><i
                        class="fas fa-phone mx-2"></i>
                    <span>3144132940</span>
                </a>
                </p>
            </div>
            <div class="col-lg-3 col-md-6">

                <h4 class="d-inline-block text-light text-uppercase border-5 border-secondary mb-4">
                    Enlaces rápidos</h4>
                <div class="d-flex flex-column justify-content-start">
                    <a class="text-light mb-2"routerLink="/"><i class="fa fa-angle-right me-2"></i>Inicio</a>
                    <a class="text-light mb-2"routerLink="/institutional"><i class="fa fa-angle-right me-2"></i>Institucional</a>
                    <a class="text-light mb-2"routerLink="/services"><i class="fa fa-angle-right me-2"></i>Servicios</a>
                    <a class="text-light mb-2"routerLink="/blogs"><i class="fa fa-angle-right me-2"></i>Blog</a>
                    <a class="text-light mb-2"routerLink="/headquarters"><i class="fa fa-angle-right me-2"></i>Sedes</a>
                </div>
            </div>

            <div class="col-lg-3 col-md-6">
                <h4 class="d-inline-block text-light text-uppercase border-5 border-secondary mb-4">
                    Boletín
                </h4>
                <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control p-3 border-0" placeholder="Su correo electrónico" />
                        <button class="btn btn-primary">Inscribirse</button>
                    </div>
                </form>
                <h6 class="text-light text-uppercase mt-4 mb-3">Síguenos</h6>
                <div class="d-flex">
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="https://www.facebook.com/profile.php?id=100010275843150" Target="_blank"><i
                            class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle me-2"
                        href="https://www.instagram.com/evaluandoips/" Target="_blank"><i
                            class="fab fa-instagram"></i></a>
                    <a class="btn btn-lg btn-primary btn-lg-square rounded-circle"
                        href="https://wa.me/3144132940/?text=Necesito información para un examen médico."
                        Target="_blank">
                        <i class="fab fa-whatsapp"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-light border-top border-secondary py-4">
    <div class="container">
        <div class="row g-5">
            <div class="col-md-6 text-center text-md-start">
                <p class="mb-md-0">
                    &copy; <a class="text-primary" href="#">Edwin Gaviria </a> - Todos los
                    derechos reservados.
                </p>
            </div>
            <div class="col-md-6 text-center text-md-end">
                <p class="mb-0">
                    Designed by
                    <a class="text-primary" href="https://freewebsitecode.com" Target="_blank">Free Website Code</a>
                </p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->