<!-- Topbar Start -->
<div class="container-fluid py-2 border-bottom d-none d-lg-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center">
                    <a href="https://maps.app.goo.gl/uZqnMXrTx9YR2wtF8" Target="_blank"
                        class="flex items-center mx-2"><i class="fa fa-map-marker mx-2"></i>
                        <span>Calle 15 No.18 - 42</span>
                    </a>
                    <a href="tel:3144132940" Target="_blank" class="flex items-center mx-2"><i
                            class="fas fa-phone mx-2"></i>
                        <span>3144132940</span>
                    </a>
                    <a href="mailto:ips.evaluando.yopal@gmail.com" class="flex items-center mx-2" Target="_blank"><i
                            class="fas fa-envelope mx-2"></i><span>ips.evaluando.yopal&#64;gmail.com</span></a>
                </div>
            </div>
            <div class="col-md-6 text-center text-lg-end">
                <div class="d-inline-flex align-items-center justify-content-between">
                    <a class="text-body px-2" href="https://www.facebook.com/profile.php?id=100010275843150" Target="_blank">
                        <i class="fa-brands fa-facebook"></i>
                    </a>
                    <a class="text-body px-2" href="https://www.instagram.com/evaluandoips/" Target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="text-body px-2"
                        href="https://wa.me/3144132940/?text=Necesito información para un examen médico."
                        Target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Topbar End -->