<div class="text-center mx-auto m-5" style="max-width: 500px;">
    <h1 class="d-inline-block text-primary text-uppercase  border-5">Nuestros Servicios</h1>
</div>
<div class="grid m-4 justify-content-center ">
    <div class="flex m-2 justify-content-center ">
        <p-card header="Examen psicosensométrico para conductores según resolución 1565/14 ansv."
            subheader="Examen psicosensométrico para conductores según resolución 1565/14 ansv."
            [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/conductores.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full " styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen psicofísico para porte de armas civil"
            subheader="Examen psicofísico de armas para seguridad privadad" [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/armas.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen médico ocupacional con énfasis en alturas."
            subheader="Examen médico ocupacional con énfasis en alturas." [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/ocupacional.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen para refrendar licencia de conducción."
            subheader="Examen para refrendar licencia de conducción." [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/conductores.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen psicosensométrico para conductores según resolución 1565/14 ansv."
            subheader="Examen psicosensométrico para conductores según resolución 1565/14 ansv."
            [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/conductores.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen psicofísico para porte de armas civil"
            subheader="Examen psicofísico de armas para seguridad privadad" [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/armas.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen médico ocupacional con énfasis en alturas."
            subheader="Examen médico ocupacional con énfasis en alturas." [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/ocupacional.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen para refrendar licencia de conducción."
            subheader="Examen para refrendar licencia de conducción." [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/conductores.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen psicosensométrico para conductores según resolución 1565/14 ansv."
            subheader="Examen psicosensométrico para conductores según resolución 1565/14 ansv."
            [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/conductores.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen psicofísico para porte de armas civil"
            subheader="Examen psicofísico de armas para seguridad privadad" [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/armas.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen médico ocupacional con énfasis en alturas."
            subheader="Examen médico ocupacional con énfasis en alturas." [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/ocupacional.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
    <div class="flex m-2 justify-content-center">
        <p-card header="Examen para refrendar licencia de conducción."
            subheader="Examen para refrendar licencia de conducción." [style]="{ maxWidth: '360px' }">
            <ng-template pTemplate="header">
                <img alt="Card" src="assets/layout/images/conductores.png" />
            </ng-template>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
                consequuntur error repudiandae numquam deserunt quisquam repellat libero
                asperiores earum nam nobis, culpa ratione quam perferendis esse,
                cupiditate neque quas!
            </p>
            <ng-template pTemplate="footer">
                <div class="flex gap-3 mt-1">
                    <p-button label="ver más" severity="warning" class="w-full" styleClass="w-full" />
                </div>
            </ng-template>
        </p-card>
    </div>
</div>