//FORMULARIO Y MAPA 

<!--  
<div class="row gx-5 mb-5">
    <div class="col-lg-6 mb-5 mb-lg-0">
        <div class="mb-4">
            <h1 class="display-4">Sede Yopal</h1>
        </div>
        <div style="height:400px">
            <div class="position-relative h-100">
                <iframe class="position-relative w-100 h-100"
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d449.36186661769597!2d-72.3990103!3d5.3421861!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6b0d4e1b47190b%3A0xd8be7d083962f585!2sevaluando!5e1!3m2!1ses-419!2sco!4v1724557420863!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="bg-light text-center rounded p-5">
            <h1 class="mb-4">Contáctenos</h1>
            <form>
                <div class="row g-3">
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-white" placeholder="Ingrese nombre"
                            style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="text" class="form-control bg-white" placeholder="Ingrese mensaje"
                            style="height: 55px;">
                    </div>
                    <div class="col-12 col-sm-6">
                        <input type="email" class="form-control bg-white" placeholder="Ingrese correo"
                            style="height: 55px;">
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary w-100 py-3" type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div> -->