<div class="institutional-container fadein">
    <div class="sede-detail-container" id="sedes">
        <!-- Sede Yopal -->
        <div class="sede-detail" id="yopal">
            <div class="left-section">
                <p-galleria [(value)]="imagesYopal" [numVisible]="5" [circular]="true" [autoPlay]="true"
                    [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '100%' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
                    </ng-template>
                </p-galleria>
                <div class="sede-info">
                    <h3>Sede Yopal</h3>
                    <p class="sede-description">
                        La sede de Yopal ofrece servicios especializados en evaluación
                        psicofísica y atención personalizada, enfocada en la seguridad vial
                        y responsabilidad social.
                    </p>
                    <p>
                        <strong>Dirección:</strong> Calle 15 No.18 - 42, Yopal, Casanare -
                        Colombia
                    </p>
                    <p><strong>Teléfono:</strong> +57 314 413 2940</p>
                    <p>
                        <strong>Correo Electrónico:</strong>
                        ips.evaluando.yopal&#64;gmail.com
                    </p>
                </div>
            </div>
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d471.99154552168255!2d-72.398873!3d5.342258!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6b0d4e1b47190b%3A0xd8be7d083962f585!2sevaluando!5e1!3m2!1ses-419!2sco!4v1728599040333!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <button class="expand-map" (click)="openModal('yopalMap')">
                    Expandir mapa
                </button>
            </div>
        </div>

        <!-- Modal para expandir el mapa de Yopal -->
        <div id="yopalMap" class="modal" [ngClass]="{ 'show-modal': isModalOpenYopal }">
            <div class="modal-content">
                <span class="close" (click)="closeModal('yopal')">&times;</span>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d305.5014129163473!2d-72.3990103!3d5.3421861!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e6b0d4e1b47190b%3A0xd8be7d083962f585!2sevaluando!5e1!3m2!1ses-419!2sco!4v1726464520993!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Sede Floridablanca -->
        <div class="sede-detail reverse" id="floridablanca">
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.6567374036367!2d-73.08761972524155!3d7.059339492943115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e68409fa64a1d0b%3A0x9031ca2c1ea28f67!2sCra.%208%20%239-8%2C%20Floridablanca%2C%20Santander!5e1!3m2!1ses-419!2sco!4v1728599910486!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <button class="expand-map" (click)="openModal('floridablancaMap')">
                    Expandir mapa
                </button>
            </div>
            <div class="left-section">
                <p-galleria [(value)]="imagesFlorida" [numVisible]="5" [circular]="true" [autoPlay]="true"
                    [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '100%' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
                    </ng-template>
                </p-galleria>
                <div class="sede-info">
                    <h3>Sede Floridablanca</h3>
                    <p class="sede-description">
                        En Floridablanca, brindamos servicios avanzados de evaluación
                        psicofísica. Con instalaciones modernas y personal capacitado,
                        nuestra sede ofrece una atención de calidad enfocada en la
                        excelencia.
                    </p>
                    <p>
                        <strong>Dirección:</strong> Cra 8 No. 9 - 08 - PISO 1 -
                        Floridablanca Santander
                    </p>
                    <p><strong>Teléfono:</strong> +57 314 413 2940</p>
                    <p>
                        <strong>Correo Electrónico:</strong>
                        ips.evaluando.yopal&#64;gmail.com
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal para expandir el mapa de Floridablanca -->
        <div id="floridablancaMap" class="modal" [ngClass]="{ 'show-modal': isModalOpenFloridablanca }">
            <div class="modal-content">
                <span class="close" (click)="closeModal('floridablanca')">&times;</span>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3763.6567374036367!2d-73.08761972524155!3d7.059339492943115!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e68409fa64a1d0b%3A0x9031ca2c1ea28f67!2sCra.%208%20%239-8%2C%20Floridablanca%2C%20Santander!5e1!3m2!1ses-419!2sco!4v1728599910486!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <!-- Sede Los Patios -->
        <div class="sede-detail reverse" id="los-patios">
            <div class="map-container">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.54500979808!2d-72.50860733268834!3d7.837882285992874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e66460f875dc2cb%3A0x48dc962841f1ca3!2sAv.%2010%20%2328-3%2C%20Los%20Patios%2C%20Norte%20de%20Santander!5e0!3m2!1ses-419!2sco!4v1728599775319!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
                <button class="expand-map" (click)="openModal('patiosMap')">
                    Expandir mapa
                </button>
            </div>
            <div class="left-section">
                <p-galleria [(value)]="imagesPatios" [numVisible]="5" [circular]="true" [autoPlay]="true"
                    [showItemNavigators]="true" [showThumbnails]="false" [responsiveOptions]="responsiveOptions"
                    [containerStyle]="{ 'max-width': '100%' }">
                    <ng-template pTemplate="item" let-item>
                        <img [src]="item.itemImageSrc" style="width: 100%; display: block" />
                    </ng-template>
                </p-galleria>
                <div class="sede-info">
                    <h3>Sede Los Patios</h3>
                    <p class="sede-description">
                        En la sede de Los Patios, ofrecemos servicios avanzados de
                        evaluación psicofísica, respaldados por instalaciones modernas y
                        personal altamente capacitado. Nos comprometemos a brindar una
                        atención de calidad, enfocada en la excelencia y en la seguridad
                        vial, garantizando un servicio personalizado para cada uno de
                        nuestros usuarios.
                    </p>
                    <p>
                        <strong>Dirección:</strong> AV 10 NRO. 28-03 - Pato Antiguo - Los
                        Patios, Norte de Santander
                    </p>
                    <p><strong>Teléfono:</strong> 314 413 2940 - 313 210 6885</p>
                    <p>
                        <strong>Correo Electrónico:</strong>
                        ips.evaluando.yopal&#64;gmail.com
                    </p>
                </div>
            </div>
        </div>

        <!-- Modal para expandir el mapa de Los Patios -->
        <div id="patiosMap" class="modal" [ngClass]="{ 'show-modal': isModalOpenPatios }">
            <div class="modal-content">
                <span class="close" (click)="closeModal('patios')">&times;</span>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3952.54500979808!2d-72.50860733268834!3d7.837882285992874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e66460f875dc2cb%3A0x48dc962841f1ca3!2sAv.%2010%20%2328-3%2C%20Los%20Patios%2C%20Norte%20de%20Santander!5e0!3m2!1ses-419!2sco!4v1728599775319!5m2!1ses-419!2sco"
                    width="600" height="450" style="border: 0" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>
</div>
<div class="fadein">
    <p-divider></p-divider>
    <div class="contact-content">
        <div class="login-title text-primary text-3xl font-bold mb-1">
            Contáctenos llenando este formulario con su información y nos pondremos en
            contacto con usted lo más pronto posible.
        </div>
    </div>
    <form [formGroup]="form" class="contact-form">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="names">Nombres</label>
                <input type="text" formControlName="names" pInputText id="names" required maxlength="30"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('names').invalid">Nombre es obligatorio.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="surnames">Apellidos</label>
                <input type="text" formControlName="surnames" pInputText id="surnames" required maxlength="30"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('surnames').invalid">Apellidos son
                    obligatorios.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="address">Dirección</label>
                <input type="text" formControlName="address" pInputText id="address" maxlength="100"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('address').invalid">Dirección es
                    obligatoria.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="cellphone">Número telefónico</label>
                <input type="text" formControlName="cellphone" pInputText id="cellphone" required maxlength="20"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('cellphone').invalid">Número telefónico es
                    obligatorio.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="email">Correo electrónico</label>
                <input type="text" formControlName="email" pInputText id="email" maxlength="100"
                    [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('email').invalid">Correo electrónico es
                    obligatorio.</small>
                <small class="p-error" *ngIf="submitted && form.get('email').hasError('invalidEmail')">Correo no es
                    válido.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="headquarters_id">Sede</label>
                <select formControlName="headquarters_id" id="headquarters_id" required>
                    <option *ngFor="let headquarters of headquarters" [value]="headquarters.id">
                        {{ headquarters.name }}
                    </option>
                </select>
                <small class="p-error" *ngIf="submitted && form.get('headquarters_id').invalid">Sede es
                    obligatoria.</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12">
                <label for="comments">Comentarios</label>
                <textarea formControlName="comments" id="comments" rows="5" maxlength="500"
                    placeholder="Escriba sus comentarios"></textarea>
                <small class="p-error" *ngIf="submitted && form.get('comments').invalid">Comentarios son
                    obligatorios.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12">
                <button type="button" (click)="onSubmit()">Enviar</button>
            </div>
        </div>
        <div class="contact-whatsapp">
            <p>
                También puede escribirnos directamente a nuestro
                <a href="https://wa.me/573144132940" target="_blank">
                    <i class="pi pi-whatsapp"></i> WhatsApp
                </a>
            </p>
        </div>
    </form>
</div>