<div class="card fadein">
    <div class="contact-content">
        <h2>Contáctenos llenando este formulario con su información, y nos pondremos en contacto con usted lo más pronto posible.</h2>
    </div>
    <form [formGroup]="form" class="contact-form">
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="names">Nombres</label>
                <input type="text" formControlName="names" pInputText id="names" required maxlength="30" [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('names').invalid">Nombre es obligatorio.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="surnames">Apellidos</label>
                <input type="text" formControlName="surnames" pInputText id="surnames" required maxlength="30" [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('surnames').invalid">Apellidos son obligatorios.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="address">Dirección</label>
                <input type="text" formControlName="address" pInputText id="address" maxlength="100" [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('address').invalid">Dirección es obligatoria.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="cellphone">Número telefónico</label>
                <input type="text" formControlName="cellphone" pInputText id="cellphone" required maxlength="20" [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('cellphone').invalid">Número telefónico es obligatorio.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12 md:col-6">
                <label for="email">Correo electrónico</label>
                <input type="text" formControlName="email" pInputText id="email" maxlength="100" [ngClass]="{ 'ng-invalid ng-dirty': submitted }" />
                <small class="p-error" *ngIf="submitted && form.get('email').invalid">Correo electrónico es obligatorio.</small>
                <small class="p-error" *ngIf="submitted && form.get('email').hasError('invalidEmail')">Correo no es válido.</small>
            </div>
            <div class="field col-12 md:col-6">
                <label for="headquarters_id">Sede</label>
                <select formControlName="headquarters_id" id="headquarters_id" required>
                    <option *ngFor="let headquarters of headquarters" [value]="headquarters.id">
                        {{headquarters.name}}
                    </option>
                </select>
                <small class="p-error" *ngIf="submitted && form.get('headquarters_id').invalid">Sede es obligatoria.</small>
            </div>
        </div>

        <div class="formgrid grid">
            <div class="field col-12">
                <label for="comments">Comentarios</label>
                <textarea formControlName="comments" id="comments" rows="5" maxlength="500" placeholder="Escriba sus comentarios"></textarea>
                <small class="p-error" *ngIf="submitted && form.get('comments').invalid">Comentarios son obligatorios.</small>
            </div>
        </div>
        <div class="formgrid grid">
            <div class="field col-12">
                <button type="button" (click)="onSubmit()">Enviar</button>
            </div>
        </div>  
        <div class="contact-whatsapp">
            <p>También puede escribirnos directamente a nuestro 
                <a href="https://wa.me/573144132940" target="_blank">
                    <i class="pi pi-whatsapp"></i> WhatsApp
                </a>
            </p>
        </div>
    </form>
</div>