<form [formGroup]="form">
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="name">Nombre</label>
            <input type="text" formControlName="name" pInputText id="name" [(ngModel)]="headquarter.name" required
                maxlength="30" [readOnly]="isDetail"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !headquarter.name }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !headquarter.name">Nombre es
                obligatorio.</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="address">Dirección</label>
            <input type="text" formControlName="address" pInputText id="address" [(ngModel)]="headquarter.address"
                required maxlength="100" [readOnly]="isDetail"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !headquarter.address }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !headquarter.address">Dirección es
                obligatoria.</small>
        </div>
    </div>
    <div class="formgrid grid">
        <div class="field col-12 md:col-6">
            <label for="cellphone">Teléfono</label>
            <input type="text" formControlName="cellphone" pInputText id="cellphone" [(ngModel)]="headquarter.cellphone"
                required maxlength="20" [readOnly]="isDetail" [ngClass]="{
          'ng-invalid ng-dirty': submitted && !headquarter.cellphone
        }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !headquarter.cellphone">Teléfono es
                obligatorio.</small>
        </div>
        <div class="field col-12 md:col-6">
            <label for="email">Correo</label>
            <input type="text" formControlName="email" pInputText id="email" [(ngModel)]="headquarter.email" required
                maxlength="100" [readOnly]="isDetail"
                [ngClass]="{ 'ng-invalid ng-dirty': submitted && !headquarter.email }" />
            <small class="ng-dirty p-error ng-invalid" *ngIf="submitted && !headquarter.email">Correo es
                obligatorio.</small>
            <small class="ng-dirty p-error ng-invalid"
                *ngIf="submitted && form.get('email').hasError('invalidEmail')">Correo no es válido.</small>
        </div>
    </div>
</form>