:host ::ng-deep {
  @media (max-width: 767px) {
    .responsive-image {
      height: 70px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    .responsive-image {
      height: 100px;
    }
  }

  @media (min-width: 1024px) {
    .responsive-image {
      height: 160px;
    }
  }
  
  .button-container {
      display: flex;
      justify-content: center;
      margin-top: -20px;
  }

  .p-button-centered {
      width: 100%;
      max-width: 120px;
  }
}
