:host ::ng-deep {
  @media (max-width: 767px) {
    /* Pantallas pequeñas (móviles) */
    .responsive-image {
      height: 70px;
    }
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    /* Pantallas medianas (tablets) */
    .responsive-image {
      height: 100px;
    }
  }

  @media (min-width: 1024px) {
    /* Pantallas grandes (desktops) */
    .responsive-image {
      height: 160px;
    }
  }
}
