<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="surface-ground flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="flex flex-column align-items-center justify-content-center">
        <div style="
        border-radius: 56px;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      ">
            <div class="w-full surface-card py-8 px-5 sm:px-8 flex flex-column align-items-center"
                style="border-radius: 53px">
                <div class="text-center mb-3">
                    <img src="assets/layout/images/logoevaluando.png" alt="Image" height="160" />
                    <div class="text-900 text-3xl font-medium mb-5">
                        Recuperación de Contraseña
                    </div>
                </div>
                <form [formGroup]="form" (submit)="onSubmit()">
                    <div>
                        <label for="email" class="block text-900 text-xl font-medium mb-2">Correo</label>
                        <input formControlName="email" id="email" type="text" placeholder="Ingrese correo electónico"
                            pInputText class="w-full mb-5" style="padding: 1rem" />
                        <button pButton pRipple label="Enviar correo de comprobación" type="submit"
                            class="w-full p-3 text-xl" [loading]="loading" [disabled]="form.invalid"></button>
                    </div>
                </form>
            </div>
            <button pButton pRipple icon="pi pi-arrow-left" label="Regresar" class="p-button-text m-3"
                [routerLink]="['/', 'auth', 'login']"></button>
            <p-dialog [(visible)]="modalDialog" [style]="{ width: '450px' }"
                header="Te enviamos un código de comprobación" [modal]="true" 
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }" >
                <app-modal-check-code [email]="this.form.get('email').value "></app-modal-check-code>
            </p-dialog>
        </div>
    </div>
</div>